<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MySuite">
    <listeners>
        <listener class-name="TestComponents.Listeners"/>
    </listeners>
    <test name="MyTests">
        <classes>
            <class name="Tests.ActivitiesTests"/>
            <class name="Tests.AuthorsTests"/>
            <class name="Tests.BooksTests"/>
            <class name="Tests.CoverPhotosTests"/>
            <class name="Tests.UserTests"/>
        </classes>
    </test>
</suite>
